<?xml version='1.0' encoding='utf-8'?>
<widget id="com.smedan.cgs" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Smedan</name>
    <description>
    </description>
    <author email="" href="">
    </author>
    <content src="index.html" />
    <access origin="*" />
    <hook src="scripts/build.js" type="before_compile" />
    <hook src="scripts/build.js" type="before_serve" />
    <preference name="phonegap-version" value="cli-8.1.1" />
    <allow-navigation href="*" />
    <allow-intent href="*" />
    <access origin="https://*.phonegap.com" subdomains="true" />
    <access origin="*" />
    <engine name="android" spec="^7.1.4" />
    <plugin name="cordova-plugin-file" spec="6.0.1" />
    <plugin name="cordova-plugin-camera" spec="4.0.3" />
    <plugin name="cordova-plugin-geolocation" />
    <plugin name="cordova-plugin-whitelist" />
</widget>
